<p-toast></p-toast>
<div class="layout-topbar">
    <div class="topbar-left">
        <a class="topbar-logo" [routerLink]="['/']">
            <img src="assets/logo.png" alt="bbqweer.eu" class="topbar-logo-img" />
        </a>
    </div>
    <div class="topbar-nav">
        <a class="topbar-nav-link" [routerLink]="['/forecast']" routerLinkActive="active">
            <i class="pi pi-sun mr-2"></i>Verwachting
        </a>
        <a class="topbar-nav-link" [routerLink]="['/planetarium']" routerLinkActive="active">
            <i class="pi pi-star mr-2"></i>Planetarium
        </a>
        <a class="topbar-nav-link" [routerLink]="['/energy-prices']" routerLinkActive="active">
            <i class="pi pi-bolt mr-2"></i>Energieprijzen
        </a>
        <a class="topbar-nav-link" [routerLink]="['/solar']" routerLinkActive="active">
            <i class="pi pi-sun mr-2"></i>Zonne-energie
        </a>
        <a class="topbar-nav-link" [routerLink]="['/lightning']" routerLinkActive="active">
            <i class="pi pi-bolt mr-2"></i>Bliksem
            @if (lightningActive > 0) { <span class="lightning-index-badge">{{ lightningTotal }} / {{ lightningActive }}</span> }
        </a>
        <a class="topbar-nav-link" [routerLink]="['/knmidata']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="pi pi-chart-bar mr-2"></i>KNMI Data
        </a>
    </div>
    <app-login></app-login>
</div>
