.card {
    padding: 1.25rem;
    margin-bottom: 2rem;
    border-right: 1px solid var(--surface-border);
    border-bottom: 1px solid var(--surface-border);
    border-radius: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.layout-card-filled .card{
    background: var(--surface-card);
}

.layout-card-transparent .card{
    background: transparent;
}
